.circle {
    height: 200px;
    width: 200px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle span {
    width: 120px;
    height: 20px;
    background: #000;
    position: absolute;
    border-radius: 10px;
    transition: all 0.4s;
}

.circle span:nth-child(1) {
    transform: rotate(45deg);
    top: 55px;
}

.circle span:nth-child(2) {
    bottom: 53px;
    transform: rotate(-45deg);
}

.circle:hover span:nth-child(1) {
    top: 90px;
    transition: all 0.4s ease;
    animation: animation 0.2s;
}

.circle:hover span:nth-child(2) {
    bottom: 90px;
    transition: all 0.4s ease;
    animation: animation .2s;    
}

@keyframes animation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}